<div class="page-container">

    <!-- Header -->

    <p>Ashraf Siddik</p>

    <!-- Content -->

    <div class="content-card">

        <app-user-list

            *ngIf="currentPage=='list'"

            (addClicked)="addUser()"

            (editClicked)="editUser($event)">

        </app-user-list>

        <app-add-user

            *ngIf="currentPage=='add'">

        </app-add-user>

        <app-edit-user

            *ngIf="currentPage=='edit'"

            [userIdInput]="selectedUserId">

        </app-edit-user>

    </div>

</div>
