.sidebar{

    width:270px;

    height:100vh;

    background:#1e293b;

    color:white;

    position:fixed;

    left:0;

    top:0;

    overflow:auto;

    transition:.3s;

}

/* Logo */

.logo{

    height:75px;

    display:flex;

    align-items:center;

    justify-content:center;

    gap:10px;

    border-bottom:1px solid rgba(255,255,255,.1);

    font-size:22px;

    font-weight:700;

}

.logo i{

    color:#38bdf8;

    font-size:28px;

}

/* Menu */

.menu{

    margin:0;

    padding:20px 0;

    list-style:none;

}

.menu li{

    margin-bottom:6px;

}

/* Menu Link */

.menu-link{

    display:flex;

    justify-content:space-between;

    align-items:center;

    color:#cbd5e1;

    text-decoration:none;

    padding:14px 20px;

    cursor:pointer;

    transition:.3s;

}

.menu-link div{

    display:flex;

    align-items:center;

    gap:15px;

}

.menu-link:hover{

    background:#2563eb;

    color:white;

}

/* Sub Menu */

.submenu{

    list-style:none;

    margin:0;

    padding:0;

    background:#38bdf8;

}

.submenu li a{

    display:flex;

    align-items:center;

    gap:15px;

    padding:12px 55px;

    color:#cbd5e1;

    text-decoration:none;

    transition:.3s;

}

.submenu li a:hover{

    background:#2563eb;

    color:white;

}

/* Active */

.active{

    background:#2563eb !important;

    color:white !important;

}

/* Scrollbar */

.sidebar::-webkit-scrollbar{

    width:5px;

}

.sidebar::-webkit-scrollbar-thumb{

    background:#3b82f6;

}

/* Mobile */

@media(max-width:992px){

.sidebar{

transform:translateX(-100%);

}

.sidebar.show{

transform:translateX(0);

}

}