<footer class="footer">

    <div class="footer-left">

        <span>
            © {{ currentYear }}
            <strong>{{ applicationName }}</strong>.
            All Rights Reserved.
        </span>

    </div>

    <div class="footer-center">

        <span>
            Developed with
            <i class="bi bi-heart-fill text-danger"></i>
            using Angular 22
        </span>

    </div>

    <div class="footer-right">

        <span>
            {{ version }}
        </span>

    </div>

</footer>
