<div class="page-container">

    <!-- Header -->

    <!-- Content -->

    <div class="content-card">

        <app-role-list
            *ngIf="currentPage=='list'"
            (addClicked)="addRole()"
            (editClicked)="editRole($event)">
        </app-role-list>

        <app-add-role
            *ngIf="currentPage=='add'">
        </app-add-role>

        <app-edit-role
            *ngIf="currentPage=='edit'"
            [roleIdInput]="selectedRoleId">
        </app-edit-role>

    </div>
</div>